NizhnyayaTunguska_52_ages.txt
fossil_NizhnyayaTunguska.xlsx
fossil_MGr.xlsx
fossil_Igarka3.xlsx
fossil_Igarka2.xlsx
fossil_Gornoe.xlsx
fossil_Gervi.xlsx
ages_NizhnyayaTunguska.xlsx
ages_Igarka2.xlsx
ages_Gornoe.xlsx
Igarka-4_52_ages.xlsx
Obryv_57_ages.txt
ages_ChambaCliff.xlsx
ages_Dalnee.xlsx
ages_Igarka-4.xlsx
dalnee_42_ages.txt
fossil_ChambaCliff.xlsx
fossil_Dalnee.xlsx
fossil_Igarka-4.xlsx
original_fossil_ChambaCliff.xlsx
original_fossil_Dalnee.xlsx
