NizhnyayaTunguska_52_ages.txt
fossil_NizhnyayaTunguska.xlsx
fossil_MGr.xlsx
fossil_Igarka3.xlsx
fossil_Igarka2.xlsx
fossil_Gornoe.xlsx
fossil_Gervi.xlsx
ages_NizhnyayaTunguska.xlsx
ages_Igarka2.xlsx
ages_Gornoe.xlsx
