.DS_Store
Gornoe_reconstructions.png
Gornoe_reconstructions_woody.pdf
Gornoe_reconstructions_climate.svg
NizhnyayaTunguska_reconstructions_climate.pdf
NizhnyayaTunguska_reconstructions_withMeteodata.pdf
NizhnyayaTunguska_reconstructions_withMeteodata_rf.pdf
NizhnyayaTunguska_reconstructions_woody.pdf
P_ann_kernelDensiry.pdf
T_ann_kernelDensiry.pdf
